
<div class="header">
  <!-- Search Input -->
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      [(ngModel)]="searchQuery"
      (input)="onSearchInput($event)"
      placeholder="Search movies..."
    />
    <ul class="suggestion-list" *ngIf="suggestions.length > 0">
      <li
        class="suggestion-item"
        *ngFor="let suggestion of suggestions"
        (click)="selectMovie(suggestion)"
      >
        {{ suggestion.title }}
      </li>
    </ul>
  </div>

  <!-- Year Filter -->
  <div class="year-filter-container">
    <label for="year-select" class="year-label">Filter by Year: </label>
    <select id="year-select" (change)="onYearChange($event)" class="year-select">
      <option *ngFor="let year of years" [value]="year" [selected]="year === selectedYear">
        {{ year }}
      </option>
    </select>
  </div>
</div>


<div *ngIf="movies.length > 0; else noData">
  <h1>Movies List</h1>

  <!-- Grid Container for Movie Cards -->
  <div class="movie-grid">
    @for(movie of movies; track movie._id){
    <app-movie-card 
      [movie]="movie" 
      (movieClicked)="showMovieDetails($event)">
    </app-movie-card>
  }
  </div>

  <!-- Movie Details Modal (if selected) -->
  <div class="movie-details-modal" *ngIf="selectedMovie">
    <div class="modal-content">
      <img [src]="selectedMovie.poster" alt="Movie Poster" class="modal-poster">
      <div class="modal-text">
        <span class="close-btn" (click)="closeMovieDetails()">&times;</span>
        <h2>{{ selectedMovie.title }}</h2>
        <p><strong>Plot:</strong> {{ selectedMovie.plot }}</p>
        <p><strong>Director:</strong> {{ selectedMovie.directors }}</p>
        <p><strong>Release Date:</strong> {{ selectedMovie.released | date }}</p>
        <p><strong>Rating:</strong> {{ selectedMovie.rated }}</p>
        <p><strong>Genres:</strong> {{ selectedMovie.genres.join(', ') }}</p>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage <= 0">Previous</button>
    <button *ngFor="let i of [].constructor(totalPages); let pageIndex = index"
            (click)="goToPage(pageIndex)" [class.active]="currentPage === pageIndex">
      {{ pageIndex + 1 }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
  </div>
</div>

<ng-template #noData>
  <p *ngIf="movies.length === 0 && !loading" class="no-data-message">
    No movies available for the selected year.
  </p>
  <p *ngIf="loading" class="loading-message">
    Movies are getting Loaded...
  </p>
</ng-template>
