.layout-container {
  display: flex;
  height: 100vh; /* Full height layout */
}

.side-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 15%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  background: linear-gradient(to bottom, #2c0a4c, #450d80);
  padding: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

.side-header nav {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  width: 100%;
  gap: 10px;
}

.side-header button {
  font: inherit;
  cursor: pointer;
  background-color: #9965dd;
  border-radius: 4px;
  border: none;
  padding: 0.35rem 0.8rem;
  font-size: 0.9rem;
}

/* Hover effect */
.side-header button:hover {
  background-color: #150722; /* Change color on hover */
  color: #ffffff; /* Change text color on hover */
}

/* Active state */
.side-header button.active {
  background-color: #9965dd; /* Color for active state */
  color: #fff; /* Text color for active state */
}

.main-content {
  flex-grow: 1; /* Take up remaining space */
  padding: 20px;
  overflow-y: auto; /* Allow scrolling if needed */
}

@media (max-width: 768px) {
  .layout-container {
    flex-direction: column; /* Stack header and content vertically */
  }
  .side-header {
    width: 100%; /* Full width */
    box-shadow: none; /* Remove shadow */
  }
  .side-header nav {
    flex-direction: row; /* Stack buttons horizontally */
  }
  .side-header button {
    margin: 0 5px; /* Adjust spacing for horizontal layout */
  }
}
