/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }

  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;;
    /* background: radial-gradient(circle at top left, #181023, #0b0519); */
    background: radial-gradient(circle at center, rgb(0 0 0), rgb(16 4 39 / 90%) 40%, rgb(0 0 0) 70%);
    color:#FFD700;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    overflow: auto;
  }

  
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
