<form class="login-form-container" [formGroup]="loginForm">
  <h3 class="form-title">Login</h3>

  <!-- Error Message -->
  @if (errorMessage) {
    <div class="error-message">
      {{ errorMessage }}
    </div>
  }

  <!-- Email Field -->
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Email</mat-label>
    <input 
      matInput 
      type="email" 
      formControlName="email" 
      placeholder="Enter your email" 
    />
    @if (loginForm.get('email')?.hasError('required')) {
      <mat-error>Email is required</mat-error>
    }
    @if (loginForm.get('email')?.hasError('email')) {
      <mat-error>Invalid email format</mat-error>
    }
  </mat-form-field>

  <!-- Password Field -->
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Password</mat-label>
    <input 
      matInput 
      type="password" 
      formControlName="password" 
      placeholder="Enter your password" 
    />
    @if (loginForm.get('password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
    }
  </mat-form-field>

  <!-- Login Button -->
  <button 
    mat-raised-button 
    color="primary" 
    (click)="submit()" 
    [disabled]="loginForm.invalid" 
    class="login-button"
  >
    LOGIN
  </button>

   <!-- Register Button -->
   <button 
   mat-button 
   color="accent" 
   class="register-button" 
   (click)="navigateToRegister()"
 >
   REGISTER
 </button>
</form>
