<!-- older implementation -->
<!-- <div *ngIf="isLoading" class="loading-container"> -->
@if (isLoading) {
  <div class="loading-container">
    <div class="loading-spinner"></div>
    <p>Data is getting loaded from Atlas...</p>
  </div>
}

@if (!isLoading) {
  <div class="user-card-container">
    <!-- <div *ngIf="!isLoading" class="user-card-container">-->
    @for (user of users; track user.id) { <!-- we have to mention a identifier everytime we use @for-->
      <div class="user-card">
        <div
          class="user-name"
          (mouseenter)="onHover(user.id)"
          (mouseleave)="onLeave()"
          (click)="onHover(user.id)"
        >
          {{ user.name }}
        </div>
        @if (selectedUserId === user.id) {
          <div class="user-details">
            <p>Email: {{ user.email }}</p>
            <p>ID: {{ user.id }}</p>
          </div>
        }
      </div>
    }
  </div>
}
