<div class="welcome-container">
  <!-- First Card -->
  <div class="card" (click)="toggleSecondCard()">
    <h1>{{ displayedText }}</h1>
  </div>

  <!-- Second Card -->
  @if (isSecondCardVisible) {
    <div class="card" (click)="toggleThirdCard()">
      <h1>I am your host for the application!</h1>
    </div>
  }

  <!-- Third Card -->
  @if (isThirdCardVisible) {
    <div class="card">
      <h1>Welcome to an experimental app</h1>
      <p>
        that showcases different integration examples, along with exciting features
        that were introduced while learning and upskilling.
      </p>
    </div>
  }
</div>
